*{
  margin: 0;
  padding: 0;
}

header{
  background-color: #dc00f0;
  color: rgba(0, 255, 21, 0.74)
  height: 200px;
}

header h1 {
  text-align: center;
  font-size: 50px;
}

h1{
  margin-top: 10px;
  margin-bottom: 20px;
}

nav ul{
  list-style: none;
  text-align: center;
}
nav ul li{
  display: inline;
  margin: 0 15px;
}